pipeline/RunBatchFailed.json
{
	"name": "RunBatchFailed",
	"properties": {
		"activities": [
			{
				"name": "testPipeline",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "GetDockerUser",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetDockerHost",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetDockerPassword",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "@concat('/bin/bash -c \"docker login ', activity('GetDockerHost').output.value, ' --username ', activity('GetDockerUser').output.value , ' --password ', activity('GetDockerPassword').output.value, ' && docker run -v $(pwd)/activity.json:/activity.json -e EXIT=1 azurebatchpoc.azurecr.io/pocbatch:latest\"')",
						"type": "Expression"
					},
					"resourceLinkedService": {
						"referenceName": "AzureBlobBatch",
						"type": "LinkedServiceReference"
					},
					"folderPath": "input",
					"referenceObjects": {
						"linkedServices": [
							{
								"referenceName": "export_blob",
								"type": "LinkedServiceReference"
							},
							{
								"referenceName": "archive_blob",
								"type": "LinkedServiceReference"
							}
						],
						"datasets": [
							{
								"referenceName": "AzureBlobArchived",
								"type": "DatasetReference"
							}
						]
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatchPOC",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetDockerUser",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://kpwkeyvault.vault.azure.net/secrets/', pipeline().globalParameters.DockerUsernameKVName, '?api-version=2016-10-01')",
						"type": "Expression"
					},
					"method": "GET",
					"linkedServices": [
						{
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						}
					],
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetDockerHost",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://kpwkeyvault.vault.azure.net/secrets/', pipeline().globalParameters.DockerHostKVName, '?api-version=2016-10-01')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetDockerPassword",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://kpwkeyvault.vault.azure.net/secrets/', pipeline().globalParameters.DockerPasswordKVName,'?api-version=2016-10-01')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-09-01T14:14:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}