pipeline/RunBatch.json
{
	"name": "RunBatch",
	"properties": {
		"activities": [
			{
				"name": "testPipeline",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "GetDockerUser",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetDockerHost",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetDockerPassword",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "@concat('/bin/bash -c \"docker login ', activity('GetDockerHost').output.value, ' --username ', activity('GetDockerUser').output.value , ' --password ', activity('GetDockerPassword').output.value)",
						"type": "Expression"
					},
					"resourceLinkedService": {
						"referenceName": "AzureBlobBatch",
						"type": "LinkedServiceReference"
					},
					"folderPath": "input",
					"referenceObjects": {
						"linkedServices": [
							{
								"referenceName": "Sftp1",
								"type": "LinkedServiceReference"
							},
							{
								"referenceName": "export_blob",
								"type": "LinkedServiceReference"
							},
							{
								"referenceName": "archive_blob",
								"type": "LinkedServiceReference"
							}
						],
						"datasets": [
							{
								"referenceName": "sFTPRawDataCSV",
								"type": "DatasetReference"
							},
							{
								"referenceName": "AzureBlobArchived",
								"type": "DatasetReference"
							},
							{
								"referenceName": "AzureSQLUsersTable",
								"type": "DatasetReference",
								"parameters": {
									"Secret": {
										"value": "@pipeline().globalParameters.SQLServerKeyVaultSecretName",
										"type": "Expression"
									},
									"SQLServerFQDN": {
										"value": "@pipeline().globalParameters.SQLServerFQDN",
										"type": "Expression"
									},
									"DBName": {
										"value": "@pipeline().globalParameters.SQLServerDBName",
										"type": "Expression"
									},
									"Username": {
										"value": "@pipeline().globalParameters.SQLServerUsername",
										"type": "Expression"
									}
								}
							}
						]
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatchPOC",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetDockerUser",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kpwkeyvault.vault.azure.net/secrets/docker-username/7bb2bead29a44336b7f34ad8ecd3cf49?api-version=7.0",
					"method": "GET",
					"linkedServices": [
						{
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						}
					],
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetDockerHost",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kpwkeyvault.vault.azure.net/secrets/docker-host/19adc1724e824c328a856ecf8e013f18?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetDockerPassword",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kpwkeyvault.vault.azure.net/secrets/docker-password/738d9f733df345248ae6ba4622325570?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-09-01T14:14:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}