pipeline/sFTPToBlobArchived.json
{
	"name": "sFTPToBlobArchived",
	"properties": {
		"description": "Data Pipeline 1 read from sFTP server and backup it into Azure Blob Storage (archived)",
		"activities": [
			{
				"name": "CopySFTPToBlob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetSFTPUsername",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": true,
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false,
							"disableChunking": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sFTPRawDataCSV",
						"type": "DatasetReference",
						"parameters": {
							"sftpUser": {
								"value": "@activity('GetSFTPUsername').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureBlobArchived",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetSFTPUsername",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://kpwkeyvault.vault.azure.net/secrets/', pipeline().globalParameters.SFTPUsernameKVName, '?api-version=2016-10-01')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-09-06T08:30:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}